/**
 * CSS style for carouselTicker
 **/
@media(min-width:1000px) {
    .slider-content {
        transform: translateY(-30px);
    }
    .carousel{
    height:100vh;
    overflow:hidden;
    max-height:768px;
}
    .newsTicker {
        position:absolute;
  width:100%;
  bottom:0px;
    }
}

.newsTicker{
  background: rgba(251,170,36,0.8);
  padding: 7px 0px;
  /*transform: translateY(-100%);*/
  
}

.carouselTicker__list {
  margin: 0px;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  display:table;
  width:2400px;
}

.carouselTicker__item {
  margin: 0;
  float: left;
  border-right: 1px solid #454442;
  /*width: 400px;*/
   width: auto;
  height: 45px;
  line-height: normal;
  text-align: center;
}

.carouselTicker__item{
  color: #000;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  display:table-cell;
  text-align:center;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
}

.carouselTicker__item span {
    display:inline-block;
    /*margin-bottom:10px;*/
    margin-right:10px
}

.carouselTicker__item a{
    margin:0px auto;
  display:inline-block;
  border-radius: 15px;
  padding: 5px 10px;
  background: #2752c9;
  color: #fff;
  vertical-align: middle;
  /*margin-left: 15px;*/
  font-size: 14px;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}

.carouselTicker__item a:hover{
  background: #fff;
  color: #2752c9;
}

.carouselTicker__loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff url("../images/loader.gif") center center no-repeat;
}

/**
 * CSS style for vertical direction
 **/

.carouselTicker_vertical .carouselTicker__list {
  margin: 0;
}

.carouselTicker_vertical .carouselTicker__item {
  margin: 0 0 5px 0;
  border: 4px solid red;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

#carouselTicker .carouselTicker__item,
#carouselTicker-destructor-example .carouselTicker__item,
#carouselTicker-buttons-controls-example .carouselTicker__item {
  width: auto;
  height: auto;
  line-height: normal;
}

.carouselTicker__item img {
  vertical-align: top;
}


/*************************/

.rightFloatBtn{
  position: fixed;
  /*padding: 0px 8px;*/
  overflow: hidden;
  width: 100px;
  top: 195px;
  right: 0px;
  z-index: 9;
  background: #0f2765;
  -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  font-size: 1.1rem;
  /*font-weight: 600;*/
  /*box-shadow: -1px 0px 4px #dedede;*/
}

.mainAnchor{
  display: none;
}
.rightFloatBtn a{
  width: 100%;
  height: 82px;
  display: block;
  padding: 10px 0px;
  /*margin-bottom: 20px;*/
  color: #fff;
  text-align: center;
  border-top: 1px solid #3e5292;
  font-size:15px;
}

/*.rightFloatBtn a:last-child{
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}*/

.rightFloatBtn a span{
  display: block;
  margin-bottom: 8px;
}

/*.rightFloatBtn a:hover{
  color: #f8991f;
}*/

.rightFloatBtn button{
  border: none;
  outline: none;
  text-align: center;
  background: none;
  color: #fff;
  text-align: center;
  padding: 8px 8px;
  position: relative;
  /*right: 100%;
  top: 0px;*/
  line-height: normal;
  transition: all 0.2s ease-in-out;
  font-size:15px;
  /*-webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;*/
}

.rightFloatBtn button:hover, .rightFloatBtn a:hover{
  background: #2154cf;
}


.rightFloatBtn button img{
  margin:auto;
  margin-bottom: 10px;
}

.rightFloatBtn button img, .rightFloatBtn button span{
  display: block;
}


@media(max-width:576px){
    .rightFloatBtn button, .rightFloatBtn a{
        font-size:13px;
    }
}