body {font-family:Arial, Helvetica, sans-serif;color:#333;font-size:16px;font-weight:normal;line-height:1.6;background-color:#fff;background-position:center top;background-repeat:no-repeat;background-attachment:fixed}
.pageWrapper {max-width:1000px;width:100%;margin:auto;padding:0 15px}
.logoName {font-size:30px;font-weight:600;color:#cc0000;text-shadow:0 0 2px rgba(255,255,255,.2)}
.formWrapper {background:#fff;border:3px solid #f96606;border-radius:10px}
.pageTitle {font-size:24px;font-weight:600}
.formHolder label sup {color:#ff0000}
.formHolder .form-control {border:1px solid #ccc}
.infoIcon {width:16px;height:16px;background:#333;color:#fff;display:inline-block;line-height:1;text-align:center}
.submitBtn {background:#f96606;color:#fff;width:230px}
.submitBtn:hover {background:#cf5200;color:#fff}
.tcList li {margin-bottom:.7rem;list-style-type:decimal}
footer {font-size:12px}
footer a {color:inherit}
@media (max-width:575.98px) {.logoName {font-size:20px}}